<div class="d-flex container">
    <div class="row">
        <div class="col-10">
            <input [(ngModel)]="inputValue" (input)="updateButtonState()" class="form-control form-control-lg mr-sm-2" type="search" placeholder="(ex: kgeg ksfo kboi)" aria-label="Search">
        </div>
        <div class="col-2">
            <button [disabled]="isButtonDisabled" class="btn btn-outline-success btn-lg my-2 my-sm-0" type="button" (click)="onGoButtonClick()" id="goButton">Go!</button>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div *ngIf="isErrorVisible" class="alert alert-danger error-alert" role="alert">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
<div class="text-center" id="loadingDiv">
    <div class="spinner-border" role="status" >
        <span class="sr-only" id="loading">Loading...</span>
    </div>
</div>

