<h2 class="text-center">Airports</h2>
<div class="container">
            <div *ngFor="let airport of airports" class="jumbotron">
                <h3>{{airport.name}} ({{airport.identifier}})</h3>
                <hr class="my-4">
                <div class ="container">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Weather</h4>
                            <p>Temperature: {{airport.weather.temperatureInF}}</p>
                            <br>
                            <p>Humidity: {{airport.weather.relativeHumidity}}</p>
                            <br>
                            <p>Clouds: {{airport.weather.cloudCoverage}}</p>
                            <br>
                            <p>Visibility: {{airport.weather.visibilitySm}}</p>
                            <br>
                            <p>Wind Speed: {{airport.weather.windSpeedMph}}</p>
                            <br>
                            <p>Wind Direction: {{airport.weather.windDirection}}</p>
                        </div>
                        <div class="col-sm">
                            <h4>Forecasted Winds</h4>
                            <li *ngFor="let forecast of airport.weather.windForecasts">
                                <p>Time Until Active: {{forecast.timeOffset}}</p>
                                <br>
                                <p>Speed: {{forecast.windSpeedKts}} kts</p>
                                <br>
                                <p>Direction: {{forecast.windDirectionDegrees}}</p>
                            </li>
                        </div>
                        <div>

                        </div>
                        <!-- <p>Latitude: {{airport.latitude}}</p>
                        <br>
                        <p>Longitude: {{airport.longitude}}</p>
                            
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
                          </p> -->
                    </div>
                </div>
                
            </div>  
</div>
