<div class="container">
    <button type="button" class="btn btn-lg btn-primary" (click)="goBack()" style="margin-bottom: 20px">Go Back</button>
</div>
<div class="container">
    <div *ngFor="let airport of airports" class="jumbotron custom-jumbotron">
        <div class="row d-flex align-items-center my-2">
            <div class="col-md-8 flex-fill">
                <h3 class="text-center">{{ airport.name }} ({{ airport.identifier }})</h3>
            </div>
            <div class="col-md-4 flex-fill">
                <p>{{airport.latitude}} {{airport.longitude}}</p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4 d-flex flex-column">
                <div class="card flex-grow-1 overflow-auto">
                <div class="card-body">
                    <div class="card-title">
                    <h4 class="text-center">Weather</h4>
                    <hr class="my-4">
                    </div>
                    <div class="card-text">
                    <p>Temperature: {{ airport.weather.temperatureInF }}°F</p>
                    <p>Humidity: {{ airport.weather.relativeHumidity }}%</p>
                    <p>Clouds: {{ airport.weather.cloudCoverage }}</p>
                    <p>Visibility: {{ airport.weather.visibilitySm }}SM</p>
                    <p>Wind Speed: {{ airport.weather.windSpeedMph }} MPH</p>
                    <p>Wind Direction: {{ airport.weather.windDirection }}</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card flex-grow-1 overflow-auto">
                <div class="card-body">
                    <div class="card-title">
                    <h4 class="text-center">Forecasted Winds</h4>
                    <hr class="my-4">
                    </div>
                    <div class="card-text">
                    <div *ngFor="let forecast of airport.weather.windForecasts">
                        <p>Time Until Active: {{ forecast.timeOffset }}</p>
                        <p>Speed: {{ forecast.windSpeedKts }} KTS</p>
                        <p>Direction: {{ forecast.windDirectionDegrees }}°</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card flex-grow-1 overflow-auto">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="text-center">Available Runways</h4>
                            <hr class="my-4">
                        </div>
                        <div class="card-text">
                            <div *ngFor="let runway of airport.runways">
                                <p>
                                    - Rwy {{ runway.name }} ({{ runway.magneticHeading }}°)
                                    <span *ngIf="runway.isBestRunway" class="badge badge-info">Best</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
